<form action="/play" method="get">
  <input type="text" name="player_1" value="Player 1"><br>
  <input type="text" name="player_2" value="Player 2"><br>
  <input type="submit" value="Start Game">
</form>
